[submodule "lib/Nuklear"]
	path = lib/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "lib/tinyobjloader-c"]
	path = lib/tinyobjloader-c
	url = https://github.com/syoyo/tinyobjloader-c.git
