[submodule "lib/Nuklear"]
	path = lib/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "lib/fast_obj"]
	path = lib/fast_obj
	url = https://github.com/thisistherk/fast_obj.git
[submodule "lib/cgltf"]
	path = lib/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "lib/volk"]
	path = lib/volk
	url = https://github.com/zeux/volk.git
[submodule "lib/VulkanMemoryAllocator"]
	path = lib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
